[submodule "src/environments"]
	path = src/environments
	url = https://gitlab.com/ukyoTeam/environments.git
[submodule "src/app/Ukyo-common/layout"]
	path = src/app/Ukyo-common/layout
	url = https://gitlab.com/ukyoTeam/layout.git
